* {
    font-family: Lato;
    margin:auto
}

@font-face {
    font-family: Lato;
    src: url(fontes/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

#geral {
    width: 1100px;
    font-size: 14px;
}

#cabecalho {
    background-color: #e0e0e0;
    padding: 20px;
}

#form {
    margin-top: 25px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    width: 400px;
    float: left;
}

#lista {
    border: 1px solid #e0e0e0;
    float: right;
    width: 600px;
    margin-top: 25px;
    text-align: left;
}

.menu a {
    float: right;
    background-color: #fff;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.caixa {
    width: 390px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #333333;
}







