* {
    font-family: Lato Regular;
    margin:auto
}

@font-face {
    font-family: Lato Regular;
    src: url(fontes/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

#geral {
    width: 1100px;
    font-size: 14px;
}

#cabecalho {
    background-color: #e0e0e0;
    padding: 10px;
    display: flex
}

#menu {
   background-color: #fff;
   padding: 8px;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

#form {
    float: left;
    display: block;
    margin: 25px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    width: 400px;

}

#lista {
    float: right;
    width: 600px;
    margin-top: 25px;
    text-align: left;
}

#tabela {
    width: 600px;   
    line-height: 30px;
}

#table {
    border-color: #e0e0e0;
  }

.menu-close {
    display: none;
}

.lista {
    margin: 15px;
}
  
td, th {
    border-bottom: 1px solid #e0e0e0; 
    border-left: none; 
    border-right: none; 
    border-top: none; 
  }

.caixa {
    width: 390px;
    height: 20px;
    border-radius: #dddddd;
}

.bottom {
    width: 399px;
    padding: 8px;
    text-align: center;
    color: #fff;
    background-color: #333333;
}

.lucro {
    display: block;
}

@media screen and (max-width:1100px) {
    #lista {
        clear: both;
        width: 600px;
        margin-top: 25px;
        text-align: left;
        color: red;
            }
}

@media screen and (max-width:1100px) {
    #form {
        display: block;
        margin: 25px;
        border: 1px solid #e0e0e0;
        padding: 0 10px;
        width: 800px; }
    
    .caixa {
       border-radius: #dddddd;
       display: inline-flexbox;
       width: 100px;
       
    }
}














